Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
config.h.in
config.log
config.status
config.h
stamp-h1
libtool
.deps
.libs
*.lo
*.la
*.a
